.mountains-blue {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-shadow{
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.bg-white{
  background-color: var(--header-background-color);
  color: var(--text-color);
}
