@import 'variables';

.btn {
  display: inline-flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: #212529;
  cursor: pointer;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.6;
  border-radius: 0.3em;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &.btn-primary{
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-background-color);
    border-color: var(--btn-primary-border-color);
  }
  &.btn-outline-primary{
    color: var(--btn-primary-border-color);
    border-color: var(--border-color-dark);
  }
  &:disabled {
    cursor: default;
    border-color: var(--btn-primary-disabled-background-color);
    background-color: var(--btn-primary-disabled-background-color);
  }
}

button, .btn, [role="button"]{
  cursor: pointer;
  outline: none;
  font-family: var(--font-family-text);
  font-size: initial;
  &:focus{
    box-shadow: inset 0 0 0 2px var(--focus-color);
  }
}

button, a{
  &.el-dropdown-menu__item {
    border: none;
    background: none;
  }

}

.button-content{
  display: flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

