.category-selector{
  display: flex;
  position: relative;
  .category-selector__categories{
    display: flex;
    column-gap: 0.5rem;
    overflow: hidden;
    overflow-x: scroll;
    flex: 0 0 95%;
    max-width: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    @include min-width(md){
      column-gap: 1rem;
    }
    .category-selector__category{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 50px;
      width: 200px;
      padding: 0.5rem;
      border: none;
      border-radius: 0.5rem;
      box-shadow: inset 0 -1rem 2rem rgba(26, 27, 33, 0.65);
      background: #333333;

      color: white;
      font-size: 16px;
      font-weight: bold;
      @include min-width(md){
        height: 60px;
        width: 200px;
        word-break: break-all;
        box-shadow: inset 0 -3rem 2rem rgba(26, 27, 33, 0.65);
      }

      @include min-width(hd){
        font-size: 18px;
      }

      &.category--all{
        background: #fff;
        box-shadow: none;
        border: 1px solid var(--border-color-dark);
        color: var(--text-color);
      }

      &.active {
        background-color: var(--text-color);
        box-shadow: inset 0 -7rem 2rem rgba(219, 219, 219, 0.9);
        color: black;
        @include min-width(md){
          box-shadow: inset 0 -7rem 2rem rgba(219, 219, 219, 0.65);
        }
      }
    }
    .category-selector__category-right{
      position: absolute;
      display: flex;
      height: 100%;
      z-index: 2000;
      justify-content: center;
      right: 0;

      &::before{
        height: 100%;
        width: 50px;
        content: "";
        pointer-events: none;
        background: linear-gradient(to left, white 20%, rgba(33, 33, 33, 0) 80%);
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .category-selector__all{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%;
    flex: 0 0 5%;
    border-radius: 25px;
    button{
      height: 50px;
      width: 50px;
      border-radius: 25px;
      outline: none;
      border: none;
    }
    //&::after{
    //  height: 100%;
    //  width: 50px;
    //  content: "";
    //  pointer-events: none;
    //  background: linear-gradient(to left, white 20%, rgba(33, 33, 33, 0) 80%);
    //}
  }
}

