.el-dialog__wrapper{
  z-index: 3001 !important;
  overflow: initial !important;
  @include min-width(md){
    overflow: auto;
  }
}

.el-dialog{
  margin-top: 0;
  width: 100%;
  max-height: 100vh;
  @include min-width(md){
    margin-top: 15vh;
    width: 600px;
    max-width: 600px;
    max-height: 80vh;
    height: auto;
    border-radius: 1rem;
  }
  .el-dialog__body{
    width: 100%;
    max-height: calc(100vh - 54px);
    overflow: hidden;
    overflow-y: scroll;
    @include min-width(md){
      padding: 2rem;
      max-height: calc(80vh - 54px);
    }
  }
  &.is-fullscreen{
    .el-dialog__footer{
      position: fixed;
      bottom: 0;
      width: 100%;
      text-align: right;
      border-top: 1px solid var(--border-color-dark);
    }
  }
}
