@import 'variables';

@include min-width(md){
  :root {
    --navbar-height: 80px;
  }
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: var(--header-background-color);
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  padding: 0 1rem;
  z-index: 2000;
  column-gap: var(--grid-row-gap);
}
.header__left{
  justify-content: left;
  align-items: center;
  flex: 1 0 5%;
  @include min-width(md){
    flex: 1 1 20%;
  }
}
.header__logo-img{
  height: 25px;
  @include min-width(md){
    width: auto;
  }
}
.header__center{
  justify-content: center;
  flex: 2 1 90%;
  @include min-width(md){
    flex: 2 1 60%;
    max-width: 600px;
  }
}
.header__right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 10%;
  gap: var(--grid-row-gap);
  @include min-width(md){
    flex: 1 1 20%;
  }
}

.header__item{
  a{
    color: var(--text-color);
  }
}

.header__filters-btn{
  padding: 0 !important;
}

.header__go-back{
  padding: 0;
  background:none;
  border:none;
}


