.home-header{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: 50%;
  padding: 2rem 1rem;
  h1{
    font-size: 2rem;
    margin-bottom: 1rem;
    @include min-width(hd){
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
  }
  min-height: 20vh;
  background-color: var(--light-gray);

  &.home-header__vs-background{
    background-color: #003da8;
    h1{
      color: var(--text-color-invert);
    }
  }

  .home-header__w{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}
