
.idea-cover{
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  @include min-width(sm){
    font-size: 16px;
  }
  @include min-width(hd){
    font-size: 20px;
  }
  .idea-cover__box-wrap{
    position: relative;
    overflow: hidden;

    .idea-cover__tmb{
      overflow: hidden;
      z-index: 0;
      background-color: #f8f8f8;
      border-radius: var(--border-radius-base);

      .idea-cover__tmb-container{
        display: block;
        background: #f7f7f7 50%;
        background-size: cover;
        position: relative;
        overflow: hidden;
        z-index: 0;

        img {
          transition: .8s;
          width: 100%;
          object-fit: cover;
          z-index: -1;
        }
      }
    }

    .list-item-dropdown{
      position: absolute;
      top: 0;
      right: 0;
    }

    .idea-cover__logo{
      position: absolute;
      bottom: 0.5rem;
      left: 0.75rem;
      img{
        width: 2rem;
        border-radius: 1.5rem;
      }
    }
  }

  .idea-cover__content{
    padding: 1rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: white;
    opacity: 0;
    background: linear-gradient(180deg,transparent 0,rgba(0,0,0,.65) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#a6000000",GradientType=0);
    border-radius: var(--border-radius-base);

    .content-first{

    }
    .content-secondary{
      opacity: 0;
    }

    a{
      color: #fff;
    }
  }
  .description{
    display: flex;
    text-align: initial;
    justify-content: flex-start;
    margin:0;
    cursor: pointer;
    column-gap: 0.5rem;

    .description__logo {
      display: none;
      height: 2rem;
      width: 2rem;
      @include min-width(sm){
        display: block;
      }
      img{
        height: 2rem;
        width: 2rem;
        border-radius: 1.5rem;
        object-fit: cover;
        border: 1px solid var(--border-color);
        background-color: var(--border-color);
      }
    }

    .description__info,
    .description__logo{
      padding-top: 1em;
      @include min-width(sm){
        display: block;
      }
    }

    .description__info{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .description__info-title{
        display: block;
        margin: 0;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        line-height: 1.2em;
        max-height: 3.6em;
      }
      .description__info-author-title{
        line-height: 1.2em;
      }
      .description__info-place_title{
        font-size: 14px;
        color: var(--text-color-secondary);
      }

      .description__info-price{
        font-weight: bold;
        line-height: 1.2em;
      }
    }
  }

}

.size-715{
  padding-bottom: 71.5%;
}

.idea-cover:hover {
  .idea-cover__tmb-container img{
    transform: scale(1.05);
    transition: .8s;
  }
  .idea-cover__content{
    opacity: 1;
  }
}
