@import 'variables';

.grid-container {
  width: 100%;
  display: grid;
  .img-wrap {
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.line {
    grid-row: 1;
  }

  &.grid-columns-auto {
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    grid-template-columns: repeat(2, 1fr);

    .idea-cover:nth-child(7), .idea-cover:nth-child(8), .idea-cover:nth-child(9) {
      display: none !important;
    }
    @include min-width(sm){
      grid-template-columns: repeat(3, 1fr);
      .idea-cover:nth-child(6) {
        display: block !important;
      }
    }
    @include min-width(lg){
      grid-row-gap: 4em;
      grid-template-columns: repeat(4, 1fr);
    }
    @include min-width(xl){
      grid-template-columns: repeat(5, 1fr);
      .idea-cover:nth-child(6) {
        display: none !important;
      }
    }
    @include min-width(hd){
      grid-template-columns: repeat(6, 1fr);
      .idea-cover:nth-child(6) {
        display: block !important;
      }
    }
    @include min-width('2k'){
      grid-template-columns: repeat(7, 1fr);
      grid-column-gap: 2em;
      .idea-cover:nth-child(6), .idea-cover:nth-child(7) {
        display: block !important;
      }

      .idea-cover:nth-child(8), .idea-cover:nth-child(9) {
        display: none !important;
      }
    }
  }

  &.grid-columns-5 {
    grid-template-columns: repeat(5, 1fr);
    @include max-width(sm){
      grid-template-columns: repeat(2, 1fr);
    }
    @include max-width(md){
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &.grid-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  &.grid-columns-gallery-1 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
    grid-row-gap: 0.5em;

    @include min-width(md){
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    grid-auto-rows: minmax(50px, 2fr);
    overflow: hidden;
    height: 100%;

    .i1 {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }

    .i2 {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;

    }

    .i3 {
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 1;
      grid-row-end: 2;
    }

    .i4 {
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start: 2;
      grid-row-end: 3;

    }

    .i5 {
      grid-column-start: 6;
      grid-column-end: 8;
      grid-row-start: 1;
      grid-row-end: 3;

    }


    .i3, .i4 {
      //max-height: 226px;
    }
    .img-wrap.vertical{
      width: 100%;
    }
  }
}



