@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: var(--background-color);
  @media (min-width: $grid-breakpoints-2k) {
    font-size: 16px !important;
  }
  @media (min-width: $grid-breakpoints-hd) {
    font-size: 16px !important;
  }
}

#app {
  font-family: var(--font-family-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

.aw{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}


h1, h2, h3, h4, h5 {
  margin: 0 0 0.5rem;
  padding: 0;
  line-height: 1.75rem;
  font-family: var(--font-family-header);
}

h1{
  font-size: 2rem;
}
h2{
  font-size: 1.75rem;
}
h3{
  font-size: 1.5rem;
}

body{
  margin: 0;
}

.header-padding{
  padding-top: var(--navbar-height);
}

.container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: initial;
  @media screen and (min-width: $grid-breakpoints-hd) {
    max-width: $grid-width-hd;
  }
  @media screen and (min-width: $grid-breakpoints-2k) {
    max-width: $grid-width-2k;
  }
  &.container-max-hd{
    @media screen and (min-width: $grid-breakpoints-hd) {
      max-width: $grid-width-hd;
    }
    @media screen and (min-width: $grid-breakpoints-2k) {
      max-width: $grid-width-hd-2k;
    }
  }
}
.container-100{
  width: 100%;
}
.container{
  padding: 0 1rem;
  @include min-width(md){
    padding: 0 2rem;
  }
}
.container-100{
  padding: 0 1rem;
  @include min-width(md){
    padding: 0 2rem;
  }
  @include min-width(hd) {
    padding: 0 4rem;
  }
}

.container,
.container-100{
  .row{
    margin-right: calc( -1 * var(--grid-row-gap));
    margin-left: calc( -1 * var(--grid-row-gap));
  }
}

.row{
  display: flex;
  flex-wrap: wrap;

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    position: relative;
    width: 100%;
    padding: 0 var(--grid-row-gap);
  }

  .col-1{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-2{
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-3{
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-4{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-5{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-6{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-7{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-8{
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-9{
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.center-items{
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex{
  display: flex;
}

.justify-content-between{
  justify-content: space-between;
}

.align-items-center{
  align-items: center;
}

.invert{
  color: white;
}

hr{
  border:none;
  border-bottom: 1px solid var(--border-color-dark);
  margin: 1rem 0;
}

a{
  text-decoration: none;
  color: var(--link-color-active);
}

.border-radius{
  border-radius: var(--border-radius-base);
}
