@import 'variables';

.mt-0{
  margin-top: 0;
}
.mt-1{
  margin-top: 1rem;
}
.mt-2{
  margin-top: 2rem;
}
.mt-3{
  margin-top: 3rem;
}
.mt-4{
  margin-top: 4rem;
}
.mt-5{
  margin-top: 5rem;
}
.mb-0{
  margin-bottom: 0;
}
.mb-1{
  margin-bottom: 1rem;
}
.mb-2{
  margin-bottom: 2rem;
}
.mb-3{
  margin-bottom: 3rem;
}
.mb-4{
  margin-bottom: 4rem;
}
.mb-5{
  margin-bottom: 5rem;
}

.mr-0{
  margin-right: 0;
}
.mr-1{
  margin-right: 1rem;
}
.mr-2{
  margin-right: 2rem;
}
.mr-3{
  margin-right: 3rem;
}
.mr-4{
  margin-right: 4rem;
}
.mr-5{
  margin-right: 5rem;
}

.ml-0{
  margin-left: 0;
}
.ml-1{
  margin-left: 1rem;
}
.ml-2{
  margin-left: 2rem;
}
.ml-3{
  margin-left: 3rem;
}
.ml-4{
  margin-left: 4rem;
}
.ml-5{
  margin-left: 5rem;
}

.pt-0{
  padding-top: 0;
}
.pt-1{
  padding-top: 1rem;
}
.pt-2{
  padding-top: 2rem;
}
.pt-3{
  padding-top: 3rem;
}
.pt-4{
  padding-top: 4rem;
}
.pt-5{
  padding-top: 5rem;
}
.pb-0{
  padding-bottom: 0;
}
.pb-1{
  padding-bottom: 1rem;
}
.pb-2{
  padding-bottom: 2rem;
}
.pb-3{
  padding-bottom: 3rem;
}
.pb-4{
  padding-bottom: 4rem;
}
.pb-5{
  margin-bottom: 5rem;
}
.sections-gap-vertical{
  margin-top: var(--sections-gap-vertical-mobile);
  @include min-width(md){
    margin-top: var(--sections-gap-vertical);
  }
}
.mh-60{
  min-height: 60vh;
}
.mh-80{
  min-height: 80vh;
}

